.primary-colored-div {
    background-color: var(--primary-background-color);
}

.primary-colored-div-accent {
    background-color: var(--primary-background-accent-color);
}

.primary-colored-div-shadow {
    background-color: var(--primary-background-shadow-color);
}

.secondary-colored-div {
    background-color: var(--secondary-background-color);
}

.secondary-colored-div-accent {
    background-color: var(--secondary-background-accent-color);
}

.secondary-colored-div-shadow {
    background-color: var(--secondary-background-shadow-color);
}

.tertiary-colored-div {
    background-color: var(--tertiary-background-color);
}

.tertiary-colored-div-accent {
    background-color: var(--tertiary-background-accent-color);
}

.tertiary-colored-div-shadow {
    background-color: var(--tertiary-background-shadow-color);
}

.primary-colored-div-content {
    color: var(--primary-text-color);
}

.layout-one-raw-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 2vh;
    margin-left: 10%;
    margin-right: 10%;
}

.full-width-centered-div {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.full-width {
    width: 100%;
}

.full-screen-height {
    height: 79vh;
}