/* Button Styling */
button {
    padding: 12px 25px;
    margin: 5px;
    border: none;
    border-radius: 25px;
    background-color: var(--primary-background-color);
    color: var(--primary-title-color);
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    outline: none;
    position: relative;
    overflow: hidden;
}

button:hover {
    transform: scale(1.05);
    color: var(--text-no-color);
    background-color: var(--primary-title-accent-color);
}

button:active {
    transform: scale(0.95);
}

button:focus {
    box-shadow: 0 0 3px 0 var(--primary-title-color);
}

button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    background-color: var(--primary-title-accent-color);
    border-radius: 50%;
    opacity: 0.5;
}

button:hover::before {
    width: 200%;
    height: 200%;
}

button:active::before {
    width: 300%;
    height: 300%;
    opacity: 0;
    transition: width 0.5s ease-out, height 0.5s ease-out, opacity 0.5s ease-out;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    color: var(--primary-title-color);
    position: relative;
}

label::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--primary-title-accent-color);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
}

label:hover::before {
    transform: scaleX(1);
}

input:focus + label::before {
    transform: scaleX(1);
}

input {
    border: none;
    border-bottom: 2px solid var(--primary-title-accent-color);
    font-size: 16px;
    text-align: center;
    padding: 5px 0;
    background-color: transparent;
    color: var(--primary-title-color);
    border-radius: 25px;
    background-color: var(--primary-background-shadow-color);
    transition: border-bottom 0.3s ease-in-out;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

fieldset legend {
    font-size: 20px;
    font-weight: bold;
    color: var(--primary-title-color);
    margin-bottom: 10px;
}

fieldset textarea {
    border: none;
    border-bottom: 2px solid var(--primary-title-accent-color);
    font-size: 16px;
    padding: 5px 0;
    background-color: transparent;
    color: var(--primary-title-color);
    transition: border-bottom 0.3s ease-in-out;
}

fieldset {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 25px;
    transition: transform 0.3s ease-in-out;
}

fieldset:hover {
    background-color: var(--primary-background-color);
    transform: scale(1.05);
}

fieldset:hover input::placeholder {
    color: var(--primary-title-accent-color);
}

fieldset::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background-color: var(--primary-background-shadow-color);
    opacity: 0.5;
    z-index: -1;
    transition: opacity 0.3s ease-in-out;
}

fieldset:hover::before {
    opacity: 0.8;
}

.input-div {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    transition: transform 0.3s ease-in-out;
}

.input-div:hover {
    background-color: var(--primary-background-color);
    transform: scale(1.05);
}

.input-div:hover input::placeholder {
    color: var(--primary-title-accent-color);
}

input::placeholder {
    color: var(--primary-text-shadow-color);
    transition: opacity 0.3s ease-in-out;
}

input:focus {
    outline: none;
    border-bottom: 2px solid var(--primary-title-color);
}

input:focus::placeholder {
    opacity: 0;
}

input:focus + label::before {
    transform: scaleX(1);
}

form {
    background-color: var(--primary-background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    padding-top: 20px;
    padding-bottom: 20px;
}  
